body {
            font-family: Arial, sans-serif;
            background: linear-gradient(180deg, #FFFBDA, #ED9455);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            width: 350px;
            text-align: center;
        }
        .intro-text {
            font-size: 20px;
            color: #FFBB70;
            margin-bottom: 20px;
            line-height: 1.5;
            background-color:  rgb(166, 123, 91);
            padding: 20px;
            border-radius: 12px;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        .toggle-login {
            display: none;
        }

        .login-button {
            display: inline-block;
            padding: 12px;
            background-color: #B99470;
            border: none;
            border-radius: 8px;
            color: #443c0a;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 0 auto;
        }

        .login-button:hover {
            background-color: #A28B55;
        }

        .login-form {
            opacity: 0;
            transform: translateY(-20px);
            visibility: hidden;
            background-color: rgb(244, 222, 179);
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
            width: 100%;
            max-width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.5s ease, transform 0.5s ease;
            text-align: center;
        }

        .login-form h2 {
            margin-bottom: 25px;
            color: #37474f;
            font-size: 24px;
        }

        .login-form label {
            font-weight: bold;
            margin-bottom: 8px;
            display: block;
            color: #455a64;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #90a4ae;
            border-radius: 8px;
            box-sizing: border-box;
            font-size: 14px;
            color: #263238;
        }

        .login-form button {
            width: 48%;
            padding: 12px;
            border: none;
            border-radius: 8px;
            color: #ffffff;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 5px auto;
            display: inline-block;
        }

        .login-form button.submit {
            background-color: #c68642;
        }

        .login-form button.submit:hover {
            background-color: #c68642;
        }

        .login-form button.cancel {
            background-color: #8d5524;
        }

        .login-form button.cancel:hover {
            background-color: #8d5524;
        }

        .login-form .register-link {
            text-align: center;
            margin-top: 15px;
        }

        .login-form .register-link a {
            color: #00796b;
            text-decoration: none;
        }

        .login-form .register-link b {
            color: #004d40;
        }

        .login-form .register-link a:hover {
            text-decoration: underline;
        }

        
        .toggle-login:checked ~ .login-form {
            opacity: 1;
            transform: translate(-50%, -50%);
            visibility: visible;
        }

        .toggle-login:checked + .login-button {
            display: none;
        }
